# Configuration file for Build Environment
# This file contains the common configuration between the master and slave(s)

# ADDRESSES
# This variable contains the list of addresses for the slaves
# Each slave must have an address between 01 and 29
ADDRESSES=("10" "20")

# SECRET
# This variable contains the secret for the RFM communication
# Must be either
# --key 01 23 45 67 89 ab cd ef (where the eight values are the key to be used)
# --pass "passphrase" (where passphrase is the one to use)
# If this is not set, the script will ask to the user which passphrase to use
SECRET='--pass "passphrase"'

# UNIT_HW
# This variable contains the hardware type of the units
# Must be either
# HONEYWELL (for Honeywell HR-20)
# HR-25 (for Honeywell HR-25)
# THERMOTRONIC (for Thermotronic valve)
UNIT_HW=HONEYWELL

# UNIT_RFM_WIRE
# This variable contains the RFM connection wiring
# Must be either
# MARIOJTAG
UNIT_RFM_WIRE=MARIOJTAG

# MASTER_HW
# This variable contains the hardware type of the master
# Must be either
# NANODE
# JEENODE
# OTHER (default value)
MASTER_HW=JEENODE

# RFM_FREQ
# This variable contains the frequency of the RFM unit
RFM_FREQ=868

# UNIT_PREFIX
# Automatically calculate the unit prefix (used for hex file naming
case "$UNIT_HW" in
	THERMOTRONIC)
		UNIT_PREFIX=thermotronic
		;;
	HONEYWELL)
		UNIT_PREFIX=hr20
		;;
	HR25)
		UNIT_PREFIX=hr25
		;;
	*)
		echo "Error with unit hardware selection"
		exit 1
		;;
esac